body{
   margin: 0;
   padding: 0;

}

p{
    color: rgba(118, 121, 121, 0.632);
    font-size: 1rem;
}
/* Nav */
.nav-item{
    padding: 2%;
}
.navbar-brand{
    font-weight: 600;
    font-size: 2rem;
}
.n-cust{
    margin-left: 8%;
    margin-bottom: 2%;
}

.n-c{
    margin-left: 38%;
}

/* Home Section */

#home {
    margin: 0;
    padding: 0;
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.t1{
    color: #f4377a;
}

.t2{
    color: rgb(124 197 192);
}

.div-1 h1{
    margin-bottom: 5%;
    font-weight: 700;
    word-spacing: 3px;
    
}

.div-1 {
    padding: 10%;
    padding-bottom: 0;
    padding-top: 5%;
    padding-right: 5%;
    z-index: 1;
}

/* .div-3 {
    background-color: rgb(124 197 192);
    z-index: 1;
} */

.img-d{
    width: 90%;
    z-index: 2;    
    margin-top: 10%;

}
.btn1{
    width: 40%;
    margin-top: 8%;
    padding: 2% 2%;
    border-style: solid;
    border-radius: 10px;
    border-color: #f4377a;
    background-color: #f4377a;
    
}

/* About Section */

#about h1{
    text-align: center;
    font-weight: 700;
    margin: 3%;
}


#about p{
    text-align: center;
    color: rgb(118, 121, 123);
    font-size: 1.1rem;
    margin-right: 10%;
    margin-top: 5%;
}

#about img{
    margin-left: 12%;
    width: 80%;
}

/* Footer */

footer{
    margin-top: 2%;
    background-color: rgb(124 197 192);
    width: 100%;
    padding: 5%;
    padding-left: 9%;
    text-align: center;
}

footer img{
    width: 50%;
 }
.f-div{
    margin: 2%;
}


/* Mobile Section */
@media (max-width:996px) {

    body{
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .img-d{
        width: 80%;
        margin-left: 10%;
    }

    .p-div{
        margin-left: 8%;
    }

    footer img{
       width: 30%;
    }
    

}
